<div>
	<div class="header">
		<div class="row">
			<div class="col-md-10 col-md-offset-1" ng-show="!completed">
				<!-- start of Question Section -->
				<div class="col-md-12 question">
					{{ques.name}}
				</div>
				<div class="row answer">
					<div class="col-md-6 option1 ripple-effect" 
								ng-click="answer(ques.optionOne)" 
								>{{ques.optionOne}}</div>
					<div class="col-md-6 option2 ripple-effect" 
								ng-click="answer(ques.optionTwo)">{{ques.optionTwo}}</div>
				</div>
				<div class="row answer">
					<div class="col-md-6 option3 ripple-effect" 
								ng-click="answer(ques.optionThree)">{{ques.optionThree}}</div>
					<div class="col-md-6 option4 ripple-effect" 
								ng-click="answer(ques.optionFour)">{{ques.optionFour}}</div>
				</div>
				<!-- End of Question section -->

				<!-- next previous button -->
				<div class="row col-md-10">
					<div class="pull-left prev" 
								ng-click="prev()" 
								ng-hide="currentpage==0">PREV</div>

					<div class="pull-right next" ng-click="next()"
								ng-hide="currentpage==totalPage">NEXT</div>

					<div class="pull-right finish" ng-click="finish()"
								ng-show="currentpage==totalPage">FINISH</div>
				</div>
				<!-- end of next prev button -->
			</div>
			<div ng-show="completed" class="test-completed">
					<h2>Test Completed.</h2>
					<div class="see-result-button"
						uib-popover="Navigate to result Page"
                        popover-trigger="'mouseenter'" ng-click="showResult()">SEE RESULT</div>
			</div>
		</div>
	</div>
</div>